<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body ng-app="app">

<div ng-controller="costctrl">
	数量: <input type="number" ng-model="quantity" name="">
	价格: <input type="number" ng-model="price" name="">

	<p>总计 = {{(quantity * price) | currency}}</p>
</div>

<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript">
	
	var app = angular.module('app', []);
	app.controller('costctrl', ['$scope', function($scope){
		$scope.quantity = 1
		$scope.price = 9.99
	}])
</script>
	
</body>
</html>